[Unit]
Description=Hidrosis for daktylos (user service)
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/hidrosis
Restart=on-failure
RestartSec=5

NoNewPrivileges=yes
ProtectSystem=full
ProtectHome=yes

[Install]
WantedBy=graphical.target
